@font-face {
    font-family: nunito ;
    src: url("font/Nunito-Bold.ttf");
}
html, body{
    width: 100%;
    height: 100%;
    font-family: nunito;
    font-size: 16px;
    font-weight: bold;
}

.lk{
    text-decoration: none;
    color: black;
}
.lk:hover{
    color: black;
}
/*xu li menu*/

.navbar{
    background-color:  rgba(147, 255, 255, 1) !important;
    position: fixed !important;
    width: 100% !important;
    text-shadow: 1px 1px white;
    
}
.dropdown{
    position: relative;
    display: inline-block;
    width: max-content;
}
.dropdown-menu{
    display: none;
    position: absolute;
    z-index: 1;
    list-style: none;
    background-color: #f5f5f5;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.btn-nav{
    margin-left: 15px;
    width: 9rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black !important;
    border-color: blanchedalmond !important;
    background-color: white !important;
    
}
.btn-nav:hover{
    background-color: red !important;
    border-color: red !important;
}
#carouselExampleIndicators{
    margin-top: 70px !important;
}
/**breadcum**/
.container-breadcum{
    background-color: whitesmoke;
    padding: 5px;
}
.card-body-item{
    margin-left: 2rem;
}
/**head-horizontal**/
.head-horizontal{
    text-transform: uppercase;
    margin-left: 324px;
}
/**card-horizontal**/
.card-img-left{
    display: inline-block;
}
.card-body-item{
    margin-top: -10rem;
}
.card-horizol{
    width: 17rem;
    height: 12rem;
    margin-left: 1rem;
    margin-right: auto;
}
.card-text-item{
    margin-left: 125px;
    font-size: smaller;
}
.card-title-item{
    margin-left: 125px;
}
.btn-card{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 125px;
}
.col-card{
    margin-left: 0.5rem;
    padding: 1rem;
    margin-right: 4.5rem;
}
.btn-card-child{
    margin-top: -7px;
    
    margin-bottom: 10px;
    margin-left: 125px;
}
.head-horizontal{
    text-transform: uppercase;
    margin-left: 20rem;

}
/**tag**/
.tag{
    background-color: #f9fafb;
    border-radius: 3px;
    padding-top: 5px;
    padding-left: 10px;
    width: 220px;
    margin-left: auto;
}
.tag-item-red{
    text-decoration: none;
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.tag-item-yellow{
    text-decoration: none;
    color: yellow;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.tag-item-blue{
    text-decoration: none;
    color: purple;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.tag-h5{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.tag-item-orange{
    text-decoration: none;
    color: orange;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.tag-item-browl{
    text-decoration: none;
    color: brown;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.tag-item-pink{
    text-decoration: none;
    color: pink;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.tag-item-green{
    text-decoration: none;
    color: green;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
/**Footer**/
footer{
    background-color:  rgba(147, 255, 255, 1);
}